body {
	font-family: "Open Sans",sans-serif;
	font-size: $base-font-size;
	font-weight: 600;
	color: $second-color;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
}

/**
*	header
*	different color where bg is black or white
**/
.white {
	.navbar {
		a {
			color: white;
		}
		a:hover {
			color: white;
			border-bottom: 1px solid white;
		}
	}
}
.black {
	.navbar {
		a {
			color: $second-color;
		}
		a:hover {
			color: $second-color;
			border-bottom: 1px solid $second-color;
		}
	}
}
.navbar  {
	position: absolute;
	top: 0; left: 0; right: 0;
	width: 100%;

	font-size: rem-calc(10);
	font-weight: 500;
	letter-spacing: rem-calc(2);

	& > ul {
		float: right;
		margin: 0;
		padding: 30px 50px 30px 0;

		list-style: none;

		& > li {
			display: inline-block;
			margin: 0 0 0 -4px;
			padding: 0 10px;
			
			border-left: 1px solid #ACACAC;

			&:first-child{
				border: 0 none;
			}
			& > .twitter,
			& > .facebook {
				display: block;
				padding: 4px 0;

				color: #ACACAC;
				border-bottom: 1px solid transparent;

				&:hover {
					color: #ACACAC;
					border-bottom: 1px solid #ACACAC;
                    
				}
			}

			& > a {
				display: block;
				padding: 4px 0;

				border-bottom: 1px solid transparent;

				cursor: pointer;
			}
		}
	}
}
/**********/


/**
*	footer
* different color and position
**/
footer.footer {
	padding: 48px;

	font-size: rem-calc(10);
	letter-spacing: rem-calc(1);

	&.black {
		color: $second-color;
	}
	& > a {
		color: $main-color;
	}
	& > a:hover {
		padding: 0 0 2px 0;
		border-bottom: 1px solid $main-color;
	}
	& > .heart {
		color: $main-color;
	}
	& > p {
		float: right;
	}
}

.white {
	footer.footer {
		color: white
	}
}
.black {
	footer.footer {
		color: $second-color;
		font-weight: 500;
	}
}
.footer-bottom {
	footer.footer {
		position: absolute;
		right: 0; bottom: 0; left: 0;
	}
}
/**********/


/**
*	container inside the view
**/
.container .container {
	width: 1020px;
	margin: 100px auto 0 auto;
	padding: 0 240px 0 0;

	@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
		width: 100%;
		padding: 0 5%;
	}

	& > h2{
		text-transform: uppercase;
		font-size: rem-calc(14);
		letter-spacing: rem-calc(1.5);
		font-weight: 700;

		color: $main-color;
	}
	& > h1 {
		margin: 18px 0 0 0;

		text-transform: uppercase;
		font-size: rem-calc(26);
		line-height: rem-calc(26 * 1.25);
		letter-spacing: rem-calc(3);
		font-weight: 700;

		color: $second-color;
	}
	& > p {
		margin: 18px 0 0 0;

		font-family: "Open Sans",sans-serif;
		font-size: rem-calc(12);
		line-height: rem-calc(14 * 1.25);
		letter-spacing: rem-calc(1.5);

		color: rgba(189,189,189,1);
	}
}
/**********/


/**
*	wrapper wich bg is lightgray
**/
.wrapper {
	position: relative;
	width: 100%;
	padding: 1px 0;
	margin: 48px 0 0 0;

	background: rgba(248,248,248,1);

	overflow: hidden;

	@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
		padding: 0 5%;
	}

	& > .sub-wrapper {
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
			width: 100%;
		}
		width: 1020px;
		margin: 0 auto;
		padding: 0 0 48px 0;
	}
}
/**********/


/**
*	menu for tabs next matchs, latest matchs & results
**/
.menu {
	width: 1020px;
	margin: 48px auto -82px auto;
	padding: 0 0 48px 0;

	@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
		width: 100%;
	}
	
	& > ul {
		margin: 0 0 0 -18px;

		a {
			font-weight: 500;

			color: #ACACAC;

			&.active,
			&:hover {
				color: $main-color;

				li {
					border-bottom: 3px solid $main-color;
				}
			}
		}
		li {
			display: inline;
			padding: 9px 0;
			margin: 0 18px;
		}
	}
}
/*********/


/**
*	btn w/ count
**/
.count_button {
	display: inline-block;
	margin: 0 0 0 48px;

	color: white;
	border-radius: 30px;

	@include no-select();

	& > span {
		padding: 12px;
		margin: 0 0 0 -4px;

		background-color: $main-color;
	}
	& > span:first-child:active,
	& > span:last-child:active {
		background-color: darken($main-color, 5);
	}
	& > span:first-child {
		padding: 12px 15px;

		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		
		cursor: pointer;
	}
	& > span:last-child {
		padding: 12px 15px;

		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
		
		cursor: pointer;
	}
}
/**********/


/**
*	display: inline-block;
**/
.inline_block {
	margin: 48px 0 0 0;

	color: rgba(126,126,126,1);

	& > div {
		display: inline-block;

		width: 190px;
	}
}
/**********/


.line {
	margin: 48px 0 0 0;

	color: rgba(126,126,126,1);
}


/**
*	button
**/
a.btn {
	display: block;
	margin: 36px 0 0 0;
	width: 240px;
	height: 48px;
	text-align: center;
	letter-spacing: rem-calc(1);
	line-height: 48px;
	border-radius: 50px;
	color: #fff;
	background-color: $main-color;
	cursor: pointer;
    overflow: hidden;
    
	@include no-select();
    
    span,i{
        position: relative;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
    }
    
    span{
        left: 15px;
    }
    
	i {
		margin: 0 0 0 10px;
        left: 200px;
        
	}
}

a.btn.disable{
    cursor: default;
    opacity: 0.22;
}

a.btn.disable:hover{
    i{
        left: 200px;
    }
    
    span{
        left: 15px;
    }
}

a.btn:hover {
    
    span, i{
        left: 0px;
    }
}
/**********/


/**
*	links
**/
.links {
	display: block;
	margin: 24px 0 0 0;
	text-decoration: none;
	font-family: "Open Sans",sans-serif;
	font-weight: 500;
	color: $main-color;
    
	&:hover {
		text-decoration: underline;
	}
    
	i {
		display: inline-block;
		vertical-align: middle;

		&.left {
			margin: 0 12px 0 0;
		}
        
		&.right {
			margin: 0 0 0 12px;
		}
	}
}
/**********/


/**
*	input[type=text]
**/
input[type="text"] {
	width: 240px;
	margin: 24px 0 0 48px;
	padding: 12px 25px;

	font-family: "Open Sans",sans-serif;
	font-size: rem-calc(11);
	letter-spacing: rem-calc(1);

	border-radius: 5px;
	background: transparent;
	border: 1px solid #ACACAC;
	color: $second-color;
    font-weight: 600;
}

input[type="text"].player_name:focus{
    border: 1px solid $second-color;
    background-color: #fff;
}

.teamNameInput::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f040 '; margin-right: 10px }
.teamNameInput::-moz-placeholder::before  { font-family: fontAwesome; content:'\f040 '; margin-right: 10px} /* firefox 19+ */
.teamNameInput::-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f040 ';margin-right: 10px } /* ie */
input.teamNameInput:-moz-placeholder::before  { font-family: fontAwesome; content:'\f040 '; margin-right: 10px}

/**********/


/**
*	title above matchcard
**/
.title {
	width: 100%;
	margin: 48px 0 0 0;

	& > .left,
	& > .center,
	& > .right {
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 -4px;

		width: calc(100% / 3);

		text-align: center;
		font-weight: 900;
		font-size: rem-calc(14);
		letter-spacing: rem-calc(1);
	}
	.left {
		margin: 0;

		cursor: pointer;

		@include no-select();
	}
	.right {
		cursor: pointer;

		@include no-select();
	}
}
/**********/


/**
*	color
**/
.red{
    color:$main-color;

    text-decoration: none;

    &:hover {
    	text-decoration: underline;
    }
}
.red-inverse {
	color: white;

	text-decoration: none;

	&:hover {
		color: $main-color;
	}
}
.black {
	.red-inverse {
		color: $second-color;

		&:hover {
			color: $main-color;
		}
	}
}
/**********/


/**
*	whoarewe
**/
.whoarewe {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 100;

	background: rgba(255,255,255,.98);
    text-align: center;
    
	#close{
		position: absolute;
		top: 48px; right: 48px;
		width: 24px; height: 24px;
		cursor: pointer;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
	}
    
    #close:hover{
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
    }
    
    & .pic{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    
    & .inline_block{
        
        p{
            
            font-weight: 700;
            margin-bottom: 10px;
        }    
        
        i{
            color: gray;
            margin: 5px;
        }
        
        i:hover{
            color: $main-color;
        }
    }
    
	& > div {
		margin: 100px 200px;
		padding: 0 117px 0 0;

		& > h2{
			text-transform: uppercase;
			font-size: rem-calc(14);
			letter-spacing: rem-calc(1.5);
			font-weight: 700;

			color: $main-color;
		}
		& > h1 {
			margin: 18px 0 0 0;

			text-transform: uppercase;
			font-size: rem-calc(26);
			line-height: rem-calc(26 * 1.25);
			letter-spacing: rem-calc(3);
			font-weight: 700;
            margin-bottom: 50px;
			color: $second-color;
		}
		& > p {
			margin: 18px 0 0 0;

			font-family: "Open Sans",sans-serif;
			font-size: rem-calc(12);
			line-height: rem-calc(14 * 1.25);
			letter-spacing: rem-calc(1.5);
			font-weight: 600;
            color: rgba(189,189,189,1);
		}
	}
}
/**********/
