.count_button{
    background-color: $main-color;
    color: white;
    padding: 20px;
    display: inline-block;
    border-radius: 30px;

    >span:first-child{
        padding: 15px;
        cursor: pointer;
    }
    
    span:active { 
        opacity: 0.3;
    }
    
    >span:last-child{
        padding: 15px;
        cursor: pointer;
    }
}

.inline_block{
    >div{
        display: inline-block;
    }
}

input[type="text"]{
    width: 240px;
    margin: 24px 0 0 48px;
    padding: 12px 18px;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #ACACAC;
    color: $second-color;
    font-size: rem-calc(14);
    letter-spacing: rem-calc(1);
}

.button{
    display: block;
    margin: 36px 0 0 0;
    width: 228px;
    height: 48px;

    text-align: center;
    letter-spacing: rem-calc(1);
    font-size: rem-calc(12);
    line-height: 48px;

    border-radius: 50px;
    color: white;
    background: $main-color;
    text-shadow: 0 rem-calc(2) rem-calc(2) darken($main-color,10);
    box-shadow: 0 rem-calc(2) rem-calc(2) darken($main-color,10);   
}