/**
*	reset
**/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display: block;
}
body{
	line-height: 1;
}
ol, ul{
	list-style: none;
}
blockquote, q{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
*:focus,
*:active,
*:hover,
*{
	outline: 0 none;
}
*{
	box-sizing: border-box;
}
html{
	height: 100%;
	width: 100%;
}
body{
	min-width: 100%;
}
img{
	width: auto;
}
a{
	text-decoration: none;
}

// COLORS
$navy: rgba(0,31,63,1);
$blue: rgba(0,116,217,1);
$aqua: rgba(127,219,255,1);
$teal: rgba(57,204,204,1);
$olive: rgba(57,204,204,1);
$green: rgba(46,204,64,1);
$lime: rgba(1,255,112,1);
$yellow: rgba(255,220,0,1);
$orange: rgba(255,133,27,1);
$red: rgba(255,65,54,1);
$maroon: rgba(133,20,75,1);
$fuchsia: rgba(240,18,190,1);
$purple: rgba(177,13,201,1);
$black: rgba(17,17,17,1);
$gray: rgba(170,170,170,1);
$silver: rgba(221,221,221,1);
$white: rgba(250,250,250,1);