body {
	min-height: 100%;
	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: $fontWeight-regular;
	color: $color-third;
	-webkit-font-smoothing: antialiased;
}

h1 {
	margin: 6px 0 0 0;

	font-size: rem-calc(32);
	line-height: $lineHeight-base;
	font-weight: $fontWeight-light;

	color: $color-main;
}

h2 {
	text-transform: uppercase;
	font-size: rem-calc(14);
	font-weight: $fontWeight-regular;

	color: $color-third;
}

p {
	margin: 0;

	font-size: rem-calc(14);
	line-height: rem-calc(14 * 1.5);
	color: $color-grayLight;
	font-weight: $fontWeight-regular;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
}

/**
*   Utilities
**/
.u-marginBottom {
	margin-bottom: rem-calc(18);
}

/**********/


/**
*   Container
**/
.container {
	position: relative;
	max-width: 1020px;
	margin-left: auto;
	margin-right: auto;
}
/**********/


/**
*   Wrapper green
**/
.wrapper {
	position: relative;
	width: 100%;
	min-height: 430px;

	background: $color-main;

	overflow: hidden;

	//	& > .sub-wrapper {
	//		width: 1020px;
	//		margin: 48px auto;
	//		padding: 1px 48px 48px 48px;
	//
	//		background: white;
	//		border-radius: 5px;
	//		box-shadow: 0 2px 4px 4px rgba(0,0,0,.05);
	//	}
	//
	//	& > .sub-wrapper--editCard {
	//		width: 1044px;
	//		margin: -1px 0 -1px calc(50% - 534px);
	//		padding: 0;
	//	}
}
/**********/


/**
*   Card
**/
.card {
	width: 100%;
	margin: 24px auto;
	padding: 1px 48px 48px 48px;

	background: rgb(255,255,255);
	border-radius: 5px;
	box-shadow: 0 2px 4px 4px rgba(0,0,0,.05);
	
	h3 {
		margin-top: rem-calc(18);
		color: $color-grayLight;
	}
}
/**********/


/**
*   From row
**/
.form-row {
	margin: 48px 0 0 0;

	color: $color-grayLight;

	& > div {
		display: inline-block;
		vertical-align: middle;
		width: 190px;

		font-weight: $fontWeight-regular;
		font-size: rem-calc(14);
		line-height: $lineHeight-base;

		&:last-child {
			margin: 0 0 0 48px;
		}
	}
}

/**********/


/**
*   Buttons
**/

.btn {
	display: block;
	margin: 32px 0 0 0;
	width: 220px;
	height: 48px;

	text-align: center;
	line-height: 46px;
	font-weight: $fontWeight-semiBold;
	font-size: rem-calc(14);

	border-radius: 50px;

	cursor: pointer;
	overflow: hidden;

	@include no-select();

	span, i{
		left: 0px;
		margin: 0 0 0 10px;
	}

	span, 
	i {
		position: relative;
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
	}

	&:hover,
	&:focus {
		span{
			left: 10px;
		}

		i {
			left: 200px;
		}
	}
}

.btn--main {
	color: white;
	background-color: $color-main;

	&:active {
		background-color: darken($color-main, 2%);
	}
}

.btn--main-reverse {
	color: $color-main;
	background-color: rgb(255, 255,255);

	&:active {
		background-color: darken(rgb(255, 255,255), 2%);
	}
}

.btn--second {
	color: #fff;
	background-color: $color-second;
}

.btn--cancel {
	color: #fff;
	background-color: $color-red;
}

.btn--confirm {
	color: #fff;
	background-color: $color-main;
}

.btn--shadow {
	box-shadow: 0 2px 4px 4px rgba(0,0,0,.05);

	&:active {
		box-shadow: none;
	}
}

.btn.disable{
	cursor: default;
	opacity: 0.22;
}

.btn.disable:hover,
.btn.disable:focus {
	i{
		left: 200px;
	}

	span{
		left: 15px;
	}
}

/**********/


/**
*   links
**/
//.links {
//	display: block;
//	margin: 24px 0 0 0;
//	text-decoration: none;
//	font-family: 'Source Sans Pro', sans-serif;
//	font-weight: 300;
//	color: $color-main;
//
//	&:hover,
//	&:focus {
//		// text-decoration: underline;
//	}
//
//	i {
//		display: inline-block;
//		vertical-align: middle;
//
//		&.left {
//			margin: 0 12px 0 0;
//		}
//
//		&.right {
//			margin: 0 0 0 12px;
//		}
//	}
//}

/**********/


/**
*   title above matchcard
**/
.title {
	width: 100%;
	margin: 48px auto 0 auto;

	.center {
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 -4px;

		width: 100%;

		text-align: center;
		font-weight: 900;
		font-size: rem-calc(14);
		letter-spacing: rem-calc(1);

		color: white;
		text-shadow: 0 2px 2px rgba(red($color-third), green($color-third), blue($color-third), .25);
	}
}
/**********/


/**
*   color
**/
//.main-color{
//	color: $color-main;
//
//	text-decoration: none;
//
//	&:hover,
//	&:focus {
//		text-decoration: underline;
//	}
//}
//.main-color-inverse {
//	color: $color-third;
//
//	text-decoration: none;
//
//	&:hover,
//	&:focus {
//		color: $color-main;
//	}
//}
//.black {
//	.red-inverse {
//		color: $color-third;
//
//		&:hover,
//		&:focus {
//			color: $color-main;
//		}
//	}
//}
/**********/


/**
*   whoarewe
**/
//.whoarewe {
//	position: fixed;
//	top: 0; right: 0; bottom: 0; left: 0;
//	z-index: 100;
//
//	background: rgba(255,255,255,.98);
//	text-align: center;
//
//	#close{
//		position: absolute;
//		top: 48px; right: 48px;
//		width: 24px; height: 24px;
//		cursor: pointer;
//		-webkit-transition: all .2s ease;
//		-moz-transition: all .2s ease;
//		-ms-transition: all .2s ease;
//		-o-transition: all .2s ease;
//		transition: all .2s ease;
//	}
//
//	#close:hover,
//	#clos:focus{
//		-ms-transform: rotate(90deg); /* IE 9 */
//		-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
//		transform: rotate(90deg);
//	}
//
//	& .pic{
//		width: 100px;
//		height: 100px;
//		border-radius: 50%;
//		margin-bottom: 20px;
//	}
//
//	& .inline_block{
//
//		p{
//
//			font-weight: 700;
//			margin-bottom: 10px;
//		}    
//
//		i{
//			color: gray;
//			margin: 5px;
//		}
//
//		i:hover,
//		i:focus{
//			color: $color-main;
//		}
//	}
//
//	& > div {
//		margin: 100px 200px;
//		padding: 0 117px 0 0;
//	}
//}

/**********/


/**
*   input[type=text]
**/
input[type="text"] {
	min-width: 200px;
	margin: 24px 24px 0px 0;
	padding: 12px 26px;

	font-family: 'Source Sans Pro', sans-serif;
	font-size: rem-calc(13);
	font-weight: $fontWeight-regular;
	color: $color-third;

	border-radius: 50px;
	background: transparent;
	border: 1px solid $color-grayExtraLight;

	&:focus {
		border-color: $color-grayLight;
	}
}


//input[type="text"] {
//	font-family: 'Source Sans Pro', sans-serif;
//	font-weight: $fontWeight-regular;
//}
//.wrapper-playersName {
//	width: calc(100% + 24px);
//	margin: 0 0 0 -24px;
//}
//.playersName {
//	width: 213px;
//	margin: 24px 0 0 21px;
//	padding: 12px 25px;
//
//	font-family: 'Source Sans Pro', sans-serif;
//	font-size: rem-calc(13);
//	font-weight: $fontWeight-regular;
//	color: $color-third;
//
//	border-radius: 50px;
//	background: transparent;
//	border: 1px solid $color-grayExtraLight;
//}
//.playersName:focus{
//	border: 1px solid $color-grayLight;
//	background-color: #fff;
//}

.teamNameInput::-webkit-input-placeholder::before { font-family: soccup; content:'\e007 '; margin-right: 10px }
.teamNameInput::-moz-placeholder::before  { font-family: soccup; content:'\e007 '; margin-right: 10px} /* firefox 19+ */
.teamNameInput::-ms-input-placeholder::before  { font-family: soccup; content:'\e007 ';margin-right: 10px } /* ie */
input.teamNameInput:-moz-placeholder::before  { font-family: soccup; content:'\e007 '; margin-right: 10px}

/**********/


/**
*   switchs
**/
.switch-wrapper {
    label {
        margin: -24px 0 0 -4px;
    }

    @include no-select();
}

input#inputRandom {
	visibility: hidden;
}

input#inputRandom + label {
	display: block;
	position: absolute;
	height: 32px;
	width: 66px;

	text-indent: -5000px;

	border-radius: 50px;
	background: #EAEBFB;
	border: 1px solid $color-grayExtraLight;

	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-ms-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

input#inputRandom + label:before {
	position: absolute;
	display: block;
	height: 30px;
	width: 30px;
	top: 0; left: 0;

	border-radius: 50px;

	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-ms-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;

	content: "";
}

input#inputRandom + label:after {
	position: absolute;
	display: block;
	height: 28px;
	width: 28px;
	top: 1px; left: 1px;

	border-radius: 50px;
	background: white;

	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-ms-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;

	content: "";
}

input#inputRandom:checked + label:before {
	width: 50px;
}

input#inputRandom:checked + label {
	background: $color-third;
}

input#inputRandom:checked + label:after {
	left: 35px;
}
/**********/


/**
*   input w/ count
**/
.input--count {
	display: inline-block;
	vertical-align: middle;

	color: white;
	border-radius: 30px;

	@include no-select();

	& > span {
		padding: 12px 20px;
		margin: 0 0 0 -4px;

		color: $color-third;

		background-color: #EAEBFB;
		border: 1px solid $color-grayExtraLight;
	}
	& > span:first-child:active,
	& > span:last-child:active {
		background-color: $color-grayExtraLight;
	}
	& > span:first-child {
		padding: 12px 20px;

		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		border-right: 1px solid $color-grayExtraLight;

		cursor: pointer;
	}
	& > span:last-child {
		padding: 12px 20px;
		margin: 0 0 0 -5px;

		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
		border-left: 1px solid $color-grayExtraLight;

		cursor: pointer;
	}
}
/**********/


/**
*	messages
**/
.messages--error {
	display: block;
	margin-top: 24px;

	width: 100%;
	padding: 18px 48px 18px 144px;

	color: $color-red;
	font-weight: $fontWeight-semiBold;

	border-radius: 5px;
	background: white;
	background-image: url('../assets/images/referee.svg');
	background-repeat: no-repeat;
	background-position: 48px 10px;
	background-size: 48px;
	box-shadow: 0 2px 4px 4px rgba(0,0,0,.05);

	i {
		float: right;

		color: $color-grayExtraLight;

		cursor: pointer;
	}
	i:hover {
		color: $color-grayLight;
	}
}
/**********/