/**
*	variables
**/
// colors
$main-color: rgba(16,210,99,1); // green
$second-color: rgba(34,31,95,1); // black
$third-color: rgba(66,74,247,1); // blue
$fourth-color: rgba(171,174,205,1); // grey

// fonts
$base-font-size: 14px;

// break points
$break-small: 1020px;