<div class="container new">

	<div ng-include="'components/navbar/navbar.php?bg=white'"></div>

	<!-- do stuff... -->
	<div class="container">
		<h2>Fifatournament</h2>
		<h1>Créer votre tournoi</h1>
		<p>
			Configurez dès maintenant votre tournoi avec vos amis et sauvegardez le pour pouvoir jouer une autre fois.
		</p>
	</div>
	<div class="wrapper">
		<div class="sub-wrapper">
			<div class="inline_block">
				<div>
					Nombre de joueurs
				</div>
				<div class="count_button">
	                <span ng-click="decrementPlayer()">-</span>
					<span>{{countPlayer}}</span>			
					<span ng-click="incrementPlayer()" ng-init="countPlayer=2">+</span>
				</div>
			</div>
			<div class="inline_block">
				<div>
					Nombre de joueurs par équipe
				</div>
				<div class="count_button">
					<span ng-click="decrementPlayerByTeam()">-</span>
					<span>{{countPlayerByTeam}}</span>			
					<span ng-click="incrementPlayerByTeam()" ng-init="countPlayerByTeam=1">+</span>
				</div>
			</div>
			<div class="line">
				<input type="checkbox" id="input_alea" ng-model="checked"><label for="input_alea">Créer des équipes aléatoires <i class="fa fa-fw fa-random"></i></label>
			</div>
	        
			<div class="line players_input" ng-show="checked">
	            <input ng-repeat="player in players" type="text" placeholder="Joueur {{player}}">
			</div>
	        
			<div class="line">
				<a class="btn" href="#/ready" ng-click="create()">Créer mon tournoi <i class="fa fa-fw fa-long-arrow-right"></i></a>
			</div>
		</div>
	</div>

	<div ng-include="'components/footer/footer.php?b=float&bg=white'"></div>

</div>
