####################
# DISABLE INDEXATION
####################
# Options -Indexes


####################
# ADD CARACTERS
####################
AddCharset UTF-8 .html
AddCharset UTF-8 .php


####################
# Caching mod_headers
####################
<IfModule mod_expires.c>
	# Turn on Expires and set default to now
	ExpiresActive On
	ExpiresDefault "now"
	
	<FilesMatch "\.(gif|jpg|jpeg|png|js|css)$">
		ExpiresDefault "access plus 2 week"
	</FilesMatch>
	
	<FilesMatch "\.(xml|xsl|html|htm|txt)$">
		ExpiresDefault "access plus 2 week"
	</FilesMatch>
	
	<FilesMatch "\.(php|cgi|pl)$">
		ExpiresDefault "access plus 2 week"
	</FilesMatch>
</IfModule>


####################
# Caching mod_headers
####################
<IfModule mod_headers.c>
	# Remote ETag from headers
	Header unset ETag

	# Disable ETag for files
	FileETag None

	# Media files are catchable
	<FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav|swf)$">
		Header append Cache-Control "public"
	</FilesMatch>

	# Images, css and javascript files are catchable
		<FilesMatch "\.(gif|jpg|jpeg|png|js|css)$">
	Header append Cache-Control "public"
	</FilesMatch>

	# Commonly updated files are catchable
	<FilesMatch "\.(xml|html|htm|txt)$">
		Header append Cache-Control "public"
	</FilesMatch>

	# Force no caching for dynamic files
	<FilesMatch "\.(php|cgi|pl|htm)$">
		Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
		Header set Pragma "no-cache"
	</FilesMatch>
</IfModule>