<div class="container ready black">

	<div ng-include="'components/navbar/navbar.php'"></div>

	<!-- do stuff... -->
	<div class="container">
		<h2>Fifatournament</h2>
		<h1>Prêt ?</h1>
		<p>
			Nous vous avons préparés vos équipes comme vous nous l’aviez demandé. Il ne vous reste plus qu’à choisir un nom d'équipe pour commencer le tournoi !
		</p>
	</div>
	<div class="wrapper">
		<div class="sub-wrapper" style="text-align: center;">
			<!-- directive test -->
			<card ng-repeat="team in teams"></card>
		</div>
        <a class="btn" ng-click="alea()">Remélanger</a>
        <a class="btn" href="#/matchs" ng-click="save()">Commencer</a>
	</div>

	<div ng-include="'components/footer/footer.php'"></div>

</div>
