@import "styles/reset";
@import "styles/variables";
@import "styles/fn";
@import "styles/base";
@import "styles/fonts";

// FontAwesome
@import "styles/fa/_fa";

.container  {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    &.main {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;

        .landing {
            width: 1020px;
            margin: 200px auto 0 auto;
            padding: 0;

            .landing__right,
            .landing__left {
                display: inline-block;
                vertical-align: middle;
            }
            .landing__left {
                width: 720px;
                padding: 0 100px 0 0;
            }
            .landing__right {
                width: 300px;
                height: 300px;
                margin: 0 0 0 -4px;

                background: $color-main;
            }
            ul {
                font-size: rem-calc(14);
                line-height: rem-calc(14 * 1.5);
                letter-spacing: rem-calc(1.5);
                color: $color-grayLight;
                font-weight: 500;
            }
      .btn-group{
        > div:first-child{
          margin-left: 0px;
        }
      }
        }
    }
}

#input_alea {
    margin: 0 24px 0 0;

    cursor: pointer;
}
.line {
    &.players_input {
        width: 100%;
        margin: 24px 0 0 -48px;
    }
}
.wrapper > .line {
    width: 1020px;
    margin: -24px auto 24px auto;

    a.btn {
        color: $color-main;

        background: white;
    }
}
/**********/


/**
*   team card
**/
.card-edit {
    display: inline-block;
    vertical-align: top;
    width: 237px;
    margin: 24px 0 0 24px;

    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);

    text-align: left;

    & > .header{
        width: 100%;
        padding: 0;

        background: #1abc9c;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: white;

        input[type=text] {
            width: 100%;
            padding: 18px 15px 18px 30px;
            margin: 0;

            color: white;
            font-size: rem-calc(13);
            font-weight: $fontWeight-bold;

            border: 0 none;
            background-color: transparent;
        }
        input[type=text]::-webkit-input-placeholder {
            color: rgba(255,255,255,.5);
        }

        & > i {
            float: right;
            margin: -31px 15px 0 0;

            cursor: pointer;
        }
    }
    & > .content {
        width: 100%;
        padding: 12px 24px 24px 24px;
        margin-top: -5px;
        
        color: $color-second;
        border-radius: 5px;
        background: white;

        font-weight: 500;

        input {
            width: 100%;
            padding: 12px 24px;
            margin-top: 12px;

            font-size: rem-calc(12);
            font-weight: $fontWeight-regular;
            color: $color-third;
            font-family: 'Source Sans Pro', sans-serif;

            border: 1px solid $color-grayExtraLight;
            border-radius: 50px;
        }
        input:focus,
        input:hover {
            border: 1px solid $color-grayLight;
        }

        li {
            padding: 9px 0;
        }
    }
}
/**********/


/**
*   wrapper which contains all cards' match
**/
.matchs-wrapper {

    margin: 48px 0;
    -webkit-transform: translate3d(calc(5% - 296px),0,0);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    
}

.latest-matchs-wrapper {
    width: 400px;
    margin: 96px auto 0 auto;

    & .circle {
        width: 10px;
        height: 10px;
        margin: -48px auto 48px auto;

        background: #d9d9d9;
        border-radius: 50px;
    }
}
/**********/


/**
*   match cards
**/
.match-card {
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    padding: 48px;
    margin: 0 0 0 96px;

    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    
    .home,
    .center,
    .outdoor {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 -4px;

        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight:700;
    }
    .home,
    .outdoor {
        width: 42%;
    }
    
    .goal{
        display: none;
        padding: 15px 20px;

        margin-top : 30px;

        color: #fff;

        border-radius: 50px;
        background: #1abc9c;

        cursor: pointer;
    }
    
    .center {
        width: 16%;
        margin: 10px 0 0 0;

        font-size: rem-calc(20);

        span {
            display: block;

            font-size: rem-calc(10);
            font-weight: 100;

            color: #ACACAC;
        }
    }
    span {
        display: block;
        width: 100%;


        &.score {
            font-size: rem-calc(36);
            color: #1abc9c;
        }
        &.name {
            margin: 48px 0 0 0;

            font-size: rem-calc(14);
            
            width: 100%; /* à modifier selon vos besoins */
            overflow: hidden;
            text-overflow: ellipsis;
            letter-spacing: rem-calc(1);
        }
    }
}

.match-card.leave{
    
    transform: translateY(-500px);
    -webkit-transform: translateY(-500px);

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    
}

.match-card.active {
    
    .goal {
        display: block;
    }
    
    & .center > span {
        display: none;
    }
}
.match-card.disabled {
    opacity: .22;
}
.match-card.disabled2 {
    opacity: 0;
}
/**********/


/**
*   div between matchs aller & retour
**/
.bar {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 240px;
    margin: 0 -44px 0 44px;

    border-right: 1px dashed rgba(0,0,0,0.2);
}
/**********/


/**
*   latest match cards
**/
.latest-match-card {
    position: relative;
    width: 400px;
    padding: 48px;
    margin: 0 0 48px 0;

    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);

    .home,
    .center,
    .outdoor {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 -4px;

        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
    }
    .home,
    .outdoor {
        width: 42%;
    }
    .center {
        width: 16%;
        margin: 10px 0 0 0;

        font-size: rem-calc(20);

        span {
            display: block;

            font-size: rem-calc(10);
            font-weight: 100;

            color: #ACACAC;
        }
    }
    span {
        display: block;
        width: 100%;


        &.score {
            font-size: rem-calc(36);
            color: #1abc9c;
        }
        &.name {
            margin: 48px 0 0 0;

            font-size: rem-calc(14);
            letter-spacing: rem-calc(1);
        }
    }
}
.latest-match-card:before {
    content: "";
    position: absolute;
    top: -48px; left: 50%;

    width: 1px;
    height: 48px;

    background: #d9d9d9;
}
.latest-match-card:last-child:after {
    content: "";
    position: absolute;
    top: 100%; left: 50%;

    width: 1px;
    height: 48px;

    background: #d9d9d9;
}
/**********/


/**
*   latest matchs infos
**/
.infos {
    width: 100%;
    margin: -48px 0 48px 0;
        
    font-family: 'Source Sans Pro', sans-serif;
    font-size: rem-calc(12);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

    color: lighten($color-second,10);
}
/**********/


/**
*   before the sub-wrapper 
**/
.title.active {
    & .next_match {
        display: none;
    }
    & .live { 
        display: block;

        i {
            vertical-align: middle;

            color: $color-main;

            font-size: rem-calc(10);

            -webkit-animation: opacitize 4s infinite linear;
        }
    }
}
.title {
    & .next_match {
        display: block;
    }
    & .live { 
        display: none;
    }
}
.title {
    & > .disabled {
        opacity: 0;

        cursor: default;
    }
}
/**********/


/**
*   wrapper which contains 1 btn
**/
.btn-wrapper {
    width: 100%;
    margin: 0 0 48px 0;

    text-align: center;

    & > #start-btn {
        display: block;
    }
    & > #stop-btn {
        display: none;
    }
    &.active {
        & > #start-btn {
            display: none;
        }
        & > #stop-btn {
            display: block;
        }
    }

    & > a {
        margin: 0 auto;
    }
    & > span {
        display: block;
        margin: 24px 0 0 0;

        font-weight: 300;
        letter-spacing: rem-calc(1);

        color: #ACACAC;

        & > font {
            color: $color-main;

            font-weight: 400;
            font-family: 'Source Sans Pro', sans-serif;
        }
    }
}
/**********/


/**
*   wrapper wich contains 2 btn
**/
.btn-group {
    width: 1020px;
    margin: 0 auto;

    div {
        display: inline-block;
        vertical-align: middle;
        margin: 0 48px;

        &:first-child {
            margin: 0;
        }
    }
}

/**********/


/**
*   table for display results
**/
.table {
    width: 100%;
    margin: 48px 0 0 0;
    padding: 24px;

    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);

    .tr {
        width: 100%;
        margin: 0 0 24px 0;

        border-bottom: 1px solid #d9d9d9;
    }
    results {
        .tr {
            margin: 0;
        }
    }
    .th {
        display: inline-block;
        vertical-align: middle;
        width: 10%;
        margin: 0 0 0 -4px;

        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: rem-calc(10);
        letter-spacing: rem-calc(1);

        color: $color-main;
    }
    .td {
        display: inline-block;
        vertical-align: middle;
        width: 10%;
        margin: 0 0 0 -4px;
        padding: 24px 0;

        text-align: center;
        font-size: rem-calc(12);
        letter-spacing: rem-calc(1);
        font-weight: 500;

        &.strong {
            font-weight: 900;
        }
    }
    .tr:first-child,
    .tr:last-child {
        border: 0 none;
    }
    .tr:nth-child(2) {
        background: red;
        .td {
            padding: 48px 0 24px 0;
        }
    }
    .th:nth-child(1),
    .td:nth-child(1) {
        width: 4%;
    }
    .th:nth-child(2),
    .td:nth-child(2) {
        width: 15%;
    }
    .th:nth-child(3),
    .td:nth-child(3) {
        width: 11%;
    }
}
/**********/


/**
*   best attack, defense and other
**/
.stats-group {
    width: 100%;

    margin: 24px 0 0 0;

    & .best_stats {
        vertical-align: top;

        width: 219px;
        padding: 24px;
        margin: 24px 0 0 44px;

        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        letter-spacing: rem-calc(1);

        color: $color-second;
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,.1);

        &:first-child {
            margin: 24px 0 0 0;
        }
        
        & .title {
            display: block;
            margin: 0 0 12px 0;

            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            letter-spacing: rem-calc(1);
            font-size: rem-calc(11);
            text-transform: uppercase;

            color: $color-main;
        }
    }
    & .infos {
        width: 100%;
        margin: 0;
    }
}
/**********/


/**
*   keyframes
**/
@include keyframes('opacitize') {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    26% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    76% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.shake {
    -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/**********/


/**
*   popup & overlay
**/
.popup{
    position: absolute;
    top: 50%; left: 50%;
    width: 400px;
    margin: 0 0 0 -200px;
    padding: 24px 24px 24px 0;
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    
    & > h3{
        text-align: center;
        color: $color-second;
        margin-left: 24px;
    }
    
    & > p{
        display: inline-block;
        vertical-align: middle;

        width: 100px;
        margin: 24px 0 0 24px;
        padding: 12px;

        color: white;
        background-color: $color-main;
        border-radius: 50px;

        text-align: center;

        cursor: pointer;
    }

    & > p:hover,
    & > p:focus{
        background: lighten($color-main, 2.5);
    }

}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;

    background-color: rgba(0,0,0,.8);

    overflow: hidden;
    z-index: 2;
}
/**********/


/**
*   changelog
**/
.version {
    margin: 24px 0 0 0;

    color: white;

    h1 {
        margin: 0 0 6px 0;

        font-family: 'Source Sans Pro', sans-serif;
        font-size: rem-calc(14);
        letter-spacing: rem-calc(1);
        font-weight: 700;

        color: $color-main;
    }
    h2 {
        margin: 0 0 6px 0;
    
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: rem-calc(10);
        letter-spacing: rem-calc(0.71);

        color: rgba(186,186,186,1);
    }
    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: rem-calc(12);
        line-height: rem-calc(12 * 1.25);
        text-align: justify;
    }
}
/**********/


/**
*   credits
**/
.container.main .landing ul {
    margin: 24px 0 0 0;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: rem-calc(11);
    letter-spacing: rem-calc(1);

    color: white;

    a {
        color: $color-main;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}
/**********/


/**
*   who we are ?
**/
.whoarewe {
    & > div {
        padding: 0;
    }
}
/**********/


/**
*   msg informations
**/
.msg {
    position: fixed;
    top: 50px; left: 50%;
    margin: 0 0 0 -200px;

    width: 400px;
    padding: 14px 42px; 

    text-align: center;
    font-weight: 500;

    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);

    & i {
        position: absolute;
        top: 7px; right: 7px;

        cursor: pointer;
    }
    &.error {
        color: #b82e2f;

        background-color: #eec8c5;
        border: 1px solid #c08181;

        & > i {
            color: #b82e2f;

            &:hover,
            &:focus {
                color: lighten(#b82e2f,10%);
            }
        }
    }
    &.success {
        color: #587054;

        background-color: #dcf2d8;
        border: 1px solid #adcda8;

        & > i {
            color: #587054;

            &:hover,
            &:focus {
                color: lighten(#587054,10%);
            }
        }
    }
    &.info {
        color: #3980a7;

        background-color: #cbe8f4;
        border: 1px solid #79bddd;

        & > i {
            color: #3980a7;

            &:hover,
            &:focus {
                color: lighten(#3980a7,10%);
            }
        }
    }
}
/**********/
