<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soccup" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ConfigurationActivity"
            android:label="@string/title_configuration"
            android:parentActivityName=".activities.MainActivity" >
        </activity>
        <activity
            android:name=".activities.CreateManualTeam"
            android:label="@string/title_equipes"
            android:parentActivityName=".activities.ConfigurationActivity" >
        </activity>
        <activity
            android:name=".activities.CreateRandomTeam"
            android:label="@string/title_equipes"
            android:parentActivityName=".activities.ConfigurationActivity" >
        </activity>
        <activity
            android:name=".activities.RenderRandomTeam"
            android:label="@string/title_equipes"
            android:parentActivityName=".activities.ConfigurationActivity">
        </activity>
        <activity
            android:name=".activities.CurrentTournamentActivity"
            android:label="@string/title_activity_current_tournament"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".activities.Victory"
            android:label="@string/title_activity_victory" >
        </activity>
        <activity
            android:name=".activities.Stats"
            android:label="@string/title_activity_stats"
            android:parentActivityName=".activities.Victory" >
        </activity>
    </application>

</manifest>
