<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soccup" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".ConfigurationActivity"
            android:label="@string/title_configuration"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".CreateManualTeam"
            android:label="@string/title_equipes"
            android:parentActivityName=".ConfigurationActivity">
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".CreateRandomTeam"
            android:label="@string/title_equipes"
            android:parentActivityName=".ConfigurationActivity">
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".RenderRandomTeam"
            android:label="@string/title_equipes"
            android:parentActivityName=".ConfigurationActivity">
        </activity>
        <activity
            android:name=".CurrentTournament"
            android:label="@string/title_current_match" >
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".Victory"
            android:label="@string/title_activity_victory"
            android:parentActivityName=".CurrentTournament">
        </activity>
    </application>

</manifest>
