@import "styles/reset";
@import "styles/variables";
@import "styles/fn";
@import "styles/base";
@import "styles/fonts";

// FontAwesome
@import "styles/fa/_fa";

body {
	font-family: "Montserrat",sans-serif;
	font-size: $base-font-size;
	font-weight: 300;
}

.container  {
	width: 100%;
	margin-right: auto;
	margin-left: auto;

	&.main {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background: linear-gradient(transparentize($second-color,.05),transparentize($second-color,.05)),url('../assets/images/bg.jpg');
		background-size: cover;

		& > .landing {
			width: 720px;
			margin: 200px auto 0 auto;
			padding: 0 117px 0 0;

			& > h2{
				text-transform: uppercase;
				font-size: rem-calc(14);
				letter-spacing: rem-calc(1.5);

				color: $main-color;
			}
			& > h1 {
				margin: 18px 0 0 0;

				text-transform: uppercase;
				font-size: rem-calc(26);
				line-height: rem-calc(26 * 1.25);
				letter-spacing: rem-calc(3);

				color: white;
				text-shadow: 0 rem-calc(2) rem-calc(2) darken($second-color,20);
			}
			& > p {
				margin: 18px 0 0 0;

				font-size: rem-calc(14);
				line-height: rem-calc(14 * 1.25);
				letter-spacing: rem-calc(1.5);

				color: rgba(189,189,189,1);
			}
		}
	}
}

#input_alea {
	margin: 0 24px 0 0;

	cursor: pointer;
}
.line {
	&.players_input {
		margin: 24px 0 0 -48px;
	}
}
