@import "styles/reset";
@import "styles/variables";
@import "styles/fn";
@import "styles/base";
@import "styles/fonts";

// FontAwesome
@import "styles/fa/_fa";

.container  {
	width: 100%;
	margin-right: auto;
	margin-left: auto;

	&.main {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background: linear-gradient(transparentize($second-color,.2),transparentize($second-color,.2)),url('../assets/images/bg.jpg');
		background-size: cover;

		& > .landing {
			width: 720px;
			margin: 200px auto 0 auto;
			padding: 0 117px 0 0;

			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
				width: 100%;
				padding: 0 5%;
				margin: 100px 0 0 0;
			}

			& > h2{
				text-transform: uppercase;
				font-size: rem-calc(14);
				letter-spacing: rem-calc(1.5);

				color: $main-color;
			}
			& > h1 {
				margin: 18px 0 0 0;

				text-transform: uppercase;
				font-size: rem-calc(26);
				line-height: rem-calc(26 * 1.25);
				letter-spacing: rem-calc(3);

				color: white;
				text-shadow: 0 rem-calc(2) rem-calc(2) darken($second-color,20);
			}
			& > p {
				margin: 18px 0 0 0;

				font-size: rem-calc(14);
				line-height: rem-calc(14 * 1.25);
				letter-spacing: rem-calc(1.5);

				color: rgba(189,189,189,1);
			}
			& > ul {
				font-size: rem-calc(14);
				line-height: rem-calc(14 * 1.25);
				letter-spacing: rem-calc(1.5);

				color: rgba(189,189,189,1);
			}
		}
	}
}

#input_alea {
	margin: 0 24px 0 0;

	cursor: pointer;
}
.line {
	@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
		width: 100%;
	}

	&.players_input {
		width: 100%;
		margin: 24px 0 0 -48px;

		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
			width: 100%;
			margin: 24px 0 0 0;
		}

		input {
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
				-webkit-appearance: none;
				appearance: none;
				width: 327px;
				margin: 24px 0 0 0;
				display: block;
			}
		}
		input:first-child {
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
				margin: 48px 0 0 0;
			}
		}
	}
}

/**
*	team card
**/
.card-edit {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin: 48px 0 0 36px;

	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);

	text-align: left;

	@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
		margin: 48px 0 0 0;
	}

	& > .header{
		width: 100%;
		padding: 0;

		background: #1abc9c;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		color: white;

		input[type=text] {
			width: 100%;
			padding: 15px 15px 15px 30px;
			margin: 0;

			color: white;
			border: 0 none;

		}
		input[type=text]::-webkit-input-placeholder {
			color: rgba(255,255,255,.5);
		}

		& > i {
			float: right;
			margin: -31px 15px 0 0;

			cursor: pointer;
		}
	}
	& > .content {
		width: 100%;
		padding: 9px 0 9px 0;

		color: $second-color;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background: white;

		font-weight: 500;

		input {
			width: 100%;
			padding: 9px 18px 9px 30px;

			font-size: rem-calc(12);
			font-weight: 100;

			border: 0 none;
			color: $second-color;
		}

		li {
			padding: 9px 0;
		}
	}
}
/**********/

/**
*	wrapper which contains all cards' match
**/
.matchs-wrapper {
	margin: 48px 0;

	-webkit-transform: translate3d(calc(5% - 296px),0,0);

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.latest-matchs-wrapper {
	width: 400px;
	margin: 96px auto 0 auto;

	& .circle {
		width: 10px;
		height: 10px;
		margin: -48px auto 48px auto;

		background: #d9d9d9;
		border-radius: 50px;
	}
}
/**********/


/**
*	match cards
**/
.match-card {
	display: inline-block;
	vertical-align: middle;
	width: 400px;
	padding: 48px;
	margin: 0 0 0 96px;

	background: white;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
	
	.home,
	.center,
	.outdoor {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 -4px;

		text-align: center;
		font-family: "Montserrat",sans-serif;
		font-weight: 900;
	}
	.home,
	.outdoor {
		width: 45%;
	}
	.center {
		width: 10%;
		margin: 10px 0 0 0;

		font-size: rem-calc(20);

		span {
			display: block;

			font-size: rem-calc(10);
			font-weight: 100;

			color: #ACACAC;
		}
	}
	span {
		display: block;
		width: 100%;


		&.score {
			font-size: rem-calc(36);
			color: #1abc9c;
		}
		&.name {
			margin: 48px 0 0 0;

			font-size: rem-calc(14);
			letter-spacing: rem-calc(1);
		}
		&.btn {
			display: none;
		}
	}
}

.match-card.leave{
	
	transform: translateY(-500px);
	-webkit-transform: translateY(-500px);

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	
}

.match-card.active {
	& span.btn {
		display: block;
		width: 80%;
		margin: 24px auto 0 auto;
		padding: 12px 0;

		background: #1abc9c;
		border-radius: 50px;
		color: white;

		visibility: visible;
		cursor: pointer;

		@include no-select();
	}
	& .center > span {
		display: none;
	}
}
.match-card.disabled {
	opacity: .22;
}
.match-card.disabled2 {
	opacity: 0;
}
/**********/

/**
*	div between matchs aller & retour
**/
.bar {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 240px;
	margin: 0 -44px 0 44px;

	border-right: 1px dashed $main-color;
}
/**********/


/**
*	latest match cards
**/
.latest-match-card {
	position: relative;
	width: 400px;
	padding: 48px;
	margin: 0 0 48px 0;

	background: white;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);

	.home,
	.center,
	.outdoor {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 -4px;

		text-align: center;
		font-family: "Montserrat",sans-serif;
		font-weight: 900;
	}
	.home,
	.outdoor {
		width: 45%;
	}
	.center {
		width: 10%;
		margin: 10px 0 0 0;

		font-size: rem-calc(20);

		span {
			display: block;

			font-size: rem-calc(10);
			font-weight: 100;

			color: #ACACAC;
		}
	}
	span {
		display: block;
		width: 100%;


		&.score {
			font-size: rem-calc(36);
			color: #1abc9c;
		}
		&.name {
			margin: 48px 0 0 0;

			font-size: rem-calc(14);
			letter-spacing: rem-calc(1);
		}
	}
}
.latest-match-card:before {
	content: "";
	position: absolute;
	top: -48px; left: 50%;

	width: 1px;
	height: 48px;

	background: #d9d9d9;
}
.latest-match-card:last-child:after {
	content: "";
	position: absolute;
	top: 100%; left: 50%;

	width: 1px;
	height: 48px;

	background: #d9d9d9;
}


/**
*	before the sub-wrapper 
**/
.title.active {
	& .next_match {
		display: none;
	}
	& .live { 
		display: block;

		i {
			vertical-align: middle;

			color: $main-color;

			font-size: rem-calc(10);

			-webkit-animation: opacitize 4s infinite linear;
		}
	}
}
.title {
	& .next_match {
		display: block;
	}
	& .live { 
		display: none;
	}
}
.title {
	& > .disabled {
		opacity: 0;

		cursor: default;
	}
}
/**********/


/**
*	wrapper which contains 1 btn
**/
.btn-wrapper {
	width: 100%;
	margin: 0 0 48px 0;

	text-align: center;

	& > #start-btn {
		display: block;
	}
	& > #stop-btn {
		display: none;
	}
	&.active {
		& > #start-btn {
			display: none;
		}
		& > #stop-btn {
			display: block;
		}
	}

	& > a {
		margin: 0 auto;
	}
	& > span {
		display: block;
		margin: 24px 0 0 0;

		font-weight: 300;
		letter-spacing: rem-calc(1);

		color: #ACACAC;

		& > font {
			color: $main-color;

			font-weight: 700;
			font-family: "Monteserrat",sans-serif;
		}
	}
}
/**********/


/**
*	wrapper wich contains 2 btn
**/
.btn-group {
	margin: 24px 0 0 0;

	div {
		margin: 0 48px;

		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
			display: block;
		}
	}
}
/**********/


/**
*	table for display results
**/
.table {
	width: 100%;
	margin: 48px 0 0 0;
	padding: 24px;

	background: white;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);

	.tr {
		width: 100%;
		margin: 0 0 24px 0;

		border-bottom: 1px solid #d9d9d9;
	}
	results {
		.tr {
			margin: 0;
		}
	}
	.th {
		display: inline-block;
		vertical-align: middle;
		width: 10%;
		margin: 0 0 0 -4px;

		text-align: center;
		font-family: "Montserrat",sans-serif;
		font-weight: 900;
		text-transform: uppercase;
		font-size: rem-calc(10);
		letter-spacing: rem-calc(1);

		color: $main-color;
	}
	.td {
		display: inline-block;
		vertical-align: middle;
		width: 10%;
		margin: 0 0 0 -1px;
		padding: 24px 0;

		text-align: center;
		font-size: rem-calc(12);
		letter-spacing: rem-calc(1);
		font-weight: 500;

		&.strong {
			font-weight: 900;
		}
	}
	.tr:first-child,
	.tr:last-child {
		border: 0 none;
	}
	.tr:nth-child(2) {
		background: red;
		.td {
			padding: 48px 0 24px 0;
		}
	}
	.th:nth-child(1),
	.td:nth-child(1) {
		width: 4%;
	}
	.th:nth-child(2),
	.td:nth-child(2) {
		width: 15%;
	}
	.th:nth-child(3),
	.td:nth-child(3) {
		width: 11%;
	}
}
/**********/


/**
*	best attack, defense and other
**/
.stats-group {
	width: 100%;

	margin: 24px 0 0 0;

	& .best_stats {
		vertical-align: top;

		width: 219px;
		padding: 24px;
		margin: 24px 0 0 44px;

		text-align: center;
		font-family: "Open Sans",sans-serif;
		font-weight: 800;
		letter-spacing: rem-calc(1);

		color: $second-color;
		background: white;
		border-radius: 10px;
		box-shadow: 0 2px 5px rgba(0,0,0,.1);

		&:first-child {
			margin: 24px 0 0 0;
		}
		& .title {
			display: block;
			margin: 0 0 12px 0;

			font-family: "Open Sans",sans-serif;
			font-weight: 800;
			letter-spacing: rem-calc(1);
			font-size: rem-calc(11);
			text-transform: uppercase;

			color: $main-color;
		}
	}
	& .infos {
		width: 100%;
		
		font-family: "Montserrat",sans-serif;
		font-size: rem-calc(12);
		text-transform: uppercase;
		font-weight: 900;
		text-align: center;

		color: lighten($second-color,10);
	}
}
/**********/


/**
*	keyframes
**/
@include keyframes('opacitize') {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	26% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	51% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	76% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
/**********/

/**
*	popup & overlay
**/
.popup{
	position: absolute;
	top: 50%; left: 50%;
	width: 400px;
	margin: 0 0 0 -200px;
	padding: 24px 24px 24px 0;
    text-align: center;
	background: white;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
	
	& > h3{
		text-align: center;
		color: $second-color;
        margin-left: 24px;
	}
	
	& > p{
		display: inline-block;
		vertical-align: middle;

		width: 100px;
		margin: 24px 0 0 24px;
		padding: 12px;

		color: white;
		background-color: $main-color;
		border-radius: 50px;

		text-align: center;

		cursor: pointer;
	}

	& > p:hover{
		background: lighten($main-color, 2.5);
	}

}

.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;

	background-color: rgba(0,0,0,.8);

	overflow: hidden;
	z-index: 2;
}
/**********/


/**
*	changelog
**/
.version {
	margin: 24px 0 0 0;

	color: white;

	h1 {
		margin: 0 0 6px 0;

		font-family: "Open Sans",sans-serif;
		font-size: rem-calc(14);
		letter-spacing: rem-calc(1);
		font-weight: 800;

		color: $main-color;
	}
	h2 {
		margin: 0 0 6px 0;
	
		font-family: "Open Sans",sans-serif;
		font-weight: 100;
		font-size: rem-calc(10);
		letter-spacing: rem-calc(0.71);

		color: rgba(186,186,186,1);
	}
	p {
		font-family: "Open Sans",sans-serif;
		font-size: rem-calc(12);
		line-height: rem-calc(12 * 1.25);
		text-align: justify;
	}
}
/**********/
