@import "styles/reset";
@import "styles/variables";
@import "styles/fn";
@import "styles/fonts";

body {
	font-family: "Open Sans",sans-serif;
	font-size: $base-font-size;
	font-weight: 500;
}

.container  {
	width: 100%;
	margin-right: auto;
	margin-left: auto;

	&.main {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background: linear-gradient(rgba(0,0,0,.85),rgba(0,0,0,.85)),url('../assets/images/bg.jpg');
		background-size: cover;
	}
}

.navbar  {
	position: absolute;
	top: 0; left: 0; right: 0;
	width: 100%;

	font-size: rem-calc(10);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: rem-calc(2);

	&.white {
		a {
			color: white;
		}
		a:hover {
			color: darken(white,20);
		}
	}
	&.black {
		a {
			color: black;
		}
		a:hover {
			color: lighten(black,30);
		}
	}

	& > ul {
		float: right;
		margin: 0;
		padding: 30px 50px 30px 0;

		list-style: none;

		& > li {
			display: inline-block;

			padding: 20px 30px;

			&:first-child {
				margin: 0 20px 0 0;
			}
			&.btn {
				padding: 0;

				font-size: rem-calc(10);
				text-shadow: 0 2px 2px darken($main-color,20);

				background: $main-color;
				border-radius: 100px;
				border: 0 none;

				cursor: pointer;

				& > a{
					display: block;
					padding: 6px 20px;

					color: white;

					&:hover {
						color: white;
					}
				}
				&:hover {
					background: lighten($main-color,5);
				}
			}
		}
	}
}


footer.footer {
	

	&.bottom {
		position: absolute;
		right: 0; bottom: 0; left: 0;
		padding: 18px 0;

		text-align: center;
		text-transform: uppercase;
		font-size: rem-calc(8);
		letter-spacing: rem-calc(1);
	}
	&.white {
		color: transparentize(white,.5);

		& > a {
			color: transparentize(white,.5);
		}
		& > a:hover {
			color: rgba(85,172,238,.5);
		}
	}
	&.black {
		color: transparentize(black,.5);

		font-weight: 700;
		
		& > a {
			color: transparentize(black,.5);
		}
		& > a:hover {
			color: rgba(85,172,238,.5);
		}
	}
	& > .heart {
		color: $main-color;
	}
}
