@import "styles/reset";
@import "styles/variables";
@import "styles/fn";
@import "styles/base";
@import "styles/fonts";

// FontAwesome
@import "styles/fa/_fa";

body {
	font-family: "Open Sans",sans-serif;
	font-size: $base-font-size;
	font-weight: 300;
}

.container  {
	width: 100%;
	margin-right: auto;
	margin-left: auto;

	&.main {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background: linear-gradient(transparentize($second-color,.05),transparentize($second-color,.05)),url('../assets/images/bg.jpg');
		background-size: cover;

		& > .landing {
			width: 720px;
			margin: 200px auto 0 auto;
			padding: 0 117px 0 0;

			& > h2{
				text-transform: uppercase;
				font-size: rem-calc(14);
				letter-spacing: rem-calc(1.5);

				color: $main-color;
			}
			& > h1 {
				margin: 18px 0 0 0;

				text-transform: uppercase;
				font-size: rem-calc(26);
				line-height: rem-calc(26 * 1.25);
				letter-spacing: rem-calc(3);

				color: white;
				text-shadow: 0 rem-calc(2) rem-calc(2) darken($second-color,20);
			}
			& > p {
				margin: 18px 0 0 0;

				font-size: rem-calc(14);
				line-height: rem-calc(14 * 1.25);
				letter-spacing: rem-calc(1.5);

				color: rgba(189,189,189,1);
			}
		}
	}
}

#input_alea {
	margin: 0 24px 0 0;

	cursor: pointer;
}
.line {
	&.players_input {
		margin: 24px 0 0 -48px;
	}
}

.card-edit {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin: 48px 0 0 36px;

	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);

	text-align: left;

	& > .header{
		width: 100%;
		padding: 0;

		background: #1abc9c;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		color: white;

		input[type=text] {
			width: 100%;
			padding: 15px 15px 15px 30px;
			margin: 0;

			color: white;
			border: 0 none;

		}
		input[type=text]::-webkit-input-placeholder {
			color: rgba(255,255,255,.5);
		}

		& > i {
			float: right;
			margin: -31px 15px 0 0;

			cursor: pointer;
		}
	}
	& > .content {
		width: 100%;
		padding: 9px 18px 9px 30px;

		color: $second-color;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background: white;

		font-weight: 500;

		li {
			padding: 9px 0;
		}
	}
}

.btn-group {
	margin: 24px 0 0 0;

	div {
		margin: 0 48px;
	}
}
