<div class="container matchs black">

	<div ng-include="'components/navbar/navbar.php'"></div>

	<!-- do stuff... -->
	<div class="container">
		<h2>Fifatournament</h2>
		<h1>Prochains matchs</h1>
		<p>
			Êtes-vous prêt pour le match de votre vie ? "Just do it." comme dirait un de nos partenaires favoris.
		</p>
	</div>

	<div class="menu">
		<ul>
			<a href="#/matchs" class="active"><li>Prochains matchs</li></a>
			<a href="#/latest_matchs"><li>Matchs passés</li></a>
			<a href="#/results"><li>Résultats</li></a>
		</ul>
	</div>
	
	<div class="wrapper">

		<div class="title">
			<div class="left" ng-click="translateL()">
				<i class="fa fa-fw fa-long-arrow-left"></i>
			</div>
			<div class="center">
				Prochain match
			</div>
			<div class="right" ng-click="translateR()">
				<i class="fa fa-fw fa-long-arrow-right"></i>
			</div>
		</div>

		<div class="matchs-wrapper" id="matchs-wrapper">
			<div class="match-card">
				<div class="home">
					<span class="score">0</span>
					<span class="name">Équipe 1</span>
				</div>
				<div class="center">
					-
				</div>
				<div class="outdoor">
					<span class="score">0</span>
					<span class="name">Équipe 2</span>
				</div>
			</div>
			<div class="match-card">
				<div class="home">
					<span class="score">0</span>
					<span class="name">Équipe 1</span>
				</div>
				<div class="center">
					-
				</div>
				<div class="outdoor">
					<span class="score">0</span>
					<span class="name">Équipe 2</span>
				</div>
			</div>
			<div class="match-card">
				<div class="home">
					<span class="score">0</span>
					<span class="name">Équipe 1</span>
				</div>
				<div class="center">
					-
				</div>
				<div class="outdoor">
					<span class="score">0</span>
					<span class="name">Équipe 2</span>
				</div>
			</div>
			<div class="match-card">
				<div class="home">
					<span class="score">0</span>
					<span class="name">Équipe 1</span>
				</div>
				<div class="center">
					-
				</div>
				<div class="outdoor">
					<span class="score">0</span>
					<span class="name">Équipe 2</span>
				</div>
			</div>
			<div class="match-card">
				<div class="home">
					<span class="score">0</span>
					<span class="name">Équipe 1</span>
				</div>
				<div class="center">
					-
				</div>
				<div class="outdoor">
					<span class="score">0</span>
					<span class="name">Équipe 2</span>
				</div>
			</div>
		</div>
	</div>

	<div ng-include="'components/footer/footer.php'"></div>

</div>
