<div class="latest-match-card" ng-class="{'disabled': !match.played, 'live': match.live}">
    <div class="home">
        <span class="score" style="color: {{match.homeTeam.color}};">{{match.goalHomeTeam}}</span>
        <span class="name">{{match.homeTeam.teamName}}</span>
    </div>
    <div class="center">
        -
        <i ng-if="match.live" class="icon i-controller"></i>
    </div>
    <div class="outdoor">
        <span class="score" style="color: {{match.awayTeam.color}};">{{match.goalAwayTeam}}</span>
        <span class="name">{{match.awayTeam.teamName}}</span>
    </div>
</div>