<div class="match-card" ng-class="{'disabled': state != $index}" ng-if="!match.played" ng-click="clickOnCard($index)">
    <p>{{match.state}}</p>
    <div class="home">
        <span class="score" style="color: {{match.homeTeam.color}};">{{match.goalHomeTeam}}</span>
        <span class="name">{{match.homeTeam.teamName}}</span>
        
        <div class="count_button">
            <span style="background-color: {{match.homeTeam.color}};" ng-click="match.goalHomeTeam = match.goalHomeTeam - 1; setGoals($index,0,1,-1,match.goalHomeTeam)">-</span>
            <span style="background-color: {{match.homeTeam.color}};">But</span>			
            <span style="background-color: {{match.homeTeam.color}};" ng-click="match.goalHomeTeam = match.goalHomeTeam + 1; setGoals($index, 0,1,1, match.goalHomeTeam); shake($event)">+</span>
        </div>
    </div>
    <div class="center">
        -
    <span ng-if="match.state == 'firstLeg'">Aller</span>
    <span ng-if="match.state == 'returnLeg'">Retour</span>
    </div>
    <div class="outdoor">
        <span class="score" style="color: {{match.awayTeam.color}};">{{match.goalAwayTeam}}</span>
        <span class="name">{{match.awayTeam.teamName}}</span>
        <div class="count_button">
            <span style="background-color: {{match.awayTeam.color}};" ng-click="match.goalAwayTeam = match.goalAwayTeam - 1; setGoals($index,1,0,-1, match.goalAwayTeam)">-</span>
            <span style="background-color: {{match.awayTeam.color}};">But</span>			
            <span style="background-color: {{match.awayTeam.color}};" ng-click="match.goalAwayTeam = match.goalAwayTeam + 1; setGoals($index,1,0,1, match.goalAwayTeam); shake($event)">+</span>
        </div>
        <span></span>
    </div>
</div>