<div class="match-card" ng-class="{'disabled': state != $index || match.state != matchsType}" ng-if="!match.played" ng-click="clickOnCard($index)">
    <div class="home">
        <span class="score" style="color: {{match[0].colors}};">{{match.b0}}</span>
        <span class="name">{{match[0].name}}</span>
        
        <div class="count_button">
            <span style="background-color: {{match[0].colors}};" ng-click="setGoals($index,0,1,-1,match.b0)">-</span>
            <span style="background-color: {{match[0].colors}};">But</span>			
            <span style="background-color: {{match[0].colors}};" ng-click="setGoals($index, 0,1,1, match.b0); shake($event)">+</span>
        </div>
    </div>
    <div class="center">
        -
    <span ng-if="match.state == 'firstLeg'">Aller</span>
    <span ng-if="match.state == 'returnLeg'">Retour</span>
    </div>
    <div class="outdoor">
        <span class="score" style="color: {{match[1].colors}};">{{match.b1}}</span>
        <span class="name">{{match[1].name}}</span>
        <div class="count_button">
            <span style="background-color: {{match[1].colors}};" ng-click="setGoals($index,1,0,-1, match.b1)">-</span>
            <span style="background-color: {{match[1].colors}};">But</span>			
            <span style="background-color: {{match[1].colors}};" ng-click="setGoals($index,1,0,1, match.b1); shake($event)">+</span>
        </div>
        <span></span>
    </div>
</div>