<div class="whoarewe" ng-show="whoarewe">
	<img src="assets/images/times.png" id="close" alt="Fermer" title="Fermer" ng-click="whoAreWe('hide')"/>
	<div>
		<h2>Fifatournament</h2>
		<h1>Qui sommes-nous ?</h1>
		<p>Nous sommes deux jeunes étudiants Parisien à HETIC (Haute Ecole des Technologies de l'Information et de la Communication). Nous sommes des passionés du web et nous voulons en devenir des acteurs. </p>
            <p>Le soir après les cours et entre les lignes de code nous organisons régulièrement des soirées fifas. Cette application nous était donc déstinée, puis nous avons décidé de la lancer pour en faire profiter tout le monde !</p>
        <div class="inline_block">
            <div>
                <img class="pic" src="assets/images/florian.jpg"/>
                <p>Florian Cordillot</p>
                <a href="https://twitter.com/fcordillot"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="https://github.com/fcordillot"><i class="fa fa-github fa-lg"></i></a>
                <a href="http://floriancordillot.fr/"><i class="fa fa-link fa-lg"></i></a>
            </div>
            <div>
                <img class="pic" src="assets/images/corentin.png"/>
                <p>Corentin Fardeau</p>
                <a href="https://twitter.com/corentinfardeau"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="https://github.com/Corentinfardeau"><i class="fa fa-github fa-lg"></i></a>
                <a href="corentinfardeau.fr"><i class="fa fa-link fa-lg"></i></a>
            </div>
        </div>
	</div>
</div>