<whoweare></whoweare>
<div ng-if="popup" class="overlay">
    <div class="popup" id="popup">
        <h3>Qui a marqué ?</h3>
        <p ng-click="setPlayerGoal(player)" ng-repeat="player in players track by ($index) ">{{player.name}}</p>
    </div>
</div>

<div class="container matchs black">
	<div ng-include="'components/navbar/navbar.php'"></div>

	<!-- do stuff... -->
	<div class="container">
		<h2>Fifatournament</h2>
		<h1>Prochains matchs</h1>
		<p>
			Êtes-vous prêt pour le match de votre vie ? "Just do it." comme dirait un de nos partenaires favoris.
		</p>
	</div>

	<div class="menu">
		<ul>
			<a href="#/matchs" class="active"><li>Prochains matchs</li></a>
			<a href="#/latest_matchs"><li>Matchs passés</li></a>
			<a href="#/results"><li>Résultats</li></a>
		</ul>
	</div>
	<div class="wrapper">

		<div class="title" id="title">
			<div class="left" id="arrow-left" ng-click="translateL()">
				<i class="fa fa-fw fa-long-arrow-left"></i>
			</div>
			<div class="center">
				<span class="next_match">Prochain(s) match(s)</span>
				<span class="live">Match en direct <i class="fa fa-fw fa-circle"></i></span>
			</div>
			<div class="right" id="arrow-right" ng-click="translateR()">
				<i class="fa fa-fw fa-long-arrow-right"></i>
			</div>
		</div>

		<div class="matchs-wrapper" id="matchs-wrapper">
			<matchs ng-repeat="match in league.aller"></matchs>
			<div class="bar" ng-if="matchsType == 'Aller'"></div>
			<matchs ng-repeat="match in league.retour"></matchs>
		</div>

		<div class="btn-wrapper" id="btn-wrapper">
			<a href="" class="btn" ng-if="stateT == 0" id="start-btn" ng-click="startMatch()">Commencer le match</a>
			<a href="" class="btn" id="stop-btn" ng-click="stopMatch()">Fin du match</a>
			
			<span>Encore <font>{{nbMatchs}}</font> matchs à disputer</span>
		</div>

		<a href="/#/new" class="links">Recommencer le tournoi<i class="fa fa-fw fa-refresh right"></i></a>
	</div>

	<div ng-include="'components/footer/footer.php'"></div>

</div>
