<whoweare></whoweare>
<div class="container ready black">

	<div ng-include="'components/navbar/navbar.php'"></div>

	<!-- do stuff... -->
	<div class="container">
		<h2>Fifatournament</h2>
		<h1>Prêt ?</h1>
		<p>
			Nous vous avons préparés vos équipes comme vous nous l’aviez demandé. Il ne vous reste plus qu’à choisir un nom d'équipe pour commencer le tournoi ! 
        <p>Si vous n'avez pas coché la case "Créer des équipes aléatoirement" vous avez encore à renseigner les noms des joueurs.</p>
		</p>
        <a href="/#/new" class='links'><i class="fa fa-fw fa-long-arrow-left left"></i>Modifier la configuration du tournoi</a>
	</div>
	<div class="wrapper">
		<div class="sub-wrapper" style="text-align: center;">
			
			<card ng-repeat="team in teams"></card>

			<div class="btn-group inline_block">
				<div ng-if="config.alea">
					<a class="btn" ng-click="getColors()"><span>Remélanger</span> <i class="fa fa-fw fa-random"></i></a>
				</div>
				<div>
	       			<a class="btn" href="#/matchs" ng-click="save($event)"><span>Commencer</span> <i class="fa fa-fw fa-long-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div ng-include="'components/footer/footer.php'"></div>

</div>
