<loading ng-if="loading"></loading>
<div class="container landing footer--bottom">
  <header>
    <div ng-include="'components/navbar/navbar.php'"></div>
  </header>
  <div class="landing-content">
        <h2>Soccup</h2>
        <h1>À propos</h1>
        <p>
            Nous sommes deux jeunes étudiants Parisien à HETIC (Haute Ecole des Technologies de l'Information et de la Communication). Nous sommes des passionés du web et nous voulons en devenir des acteurs.
            <br>
            Le soir après les cours et entre les lignes de code nous organisons régulièrement des soirées fifas. Cette application nous était donc déstinée, puis nous avons décidé de la lancer pour en faire profiter tout le monde !
        </p>
  </div>
  <div ng-include="'components/footer/footer.php'"></div>
</div>
