<loading ng-if="loading"></loading>

<div class="container landing footer--bottom">
	<header>
		<div ng-include="'components/navbar/navbar.php'"></div>
	</header>
	<div class="landing-content">
        <div class="landing-content--left">
            <h2>Soccup</h2>
            <h1>Changelog</h1>
            <p>
				Historique de toutes les mises-à-jour importantes. 
            </p>
			<version ng-repeat="version in versions | orderBy: '-id'"></version>
        </div>
	</div>
	<div ng-include="'components/footer/footer.php'"></div>
</div>

