<loading ng-if="loading"></loading>
<div class="container landing footer--bottom">
	<header>
		<div ng-include="'components/navbar/navbar.php'"></div>
	</header>
	<div class="landing-content">
        <div class="landing-content--left">
            <h2>Soccup</h2>
            <h1>Crédits</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam alias necessitatibus a optio placeat, modi repellat quasi provident, mollitia quisquam tenetur magni dolor illo quae inventore neque. Laudantium at, voluptatibus!
            </p>
        </div>
	</div>
	<div ng-include="'components/footer/footer.php'"></div>
</div>
