<whoweare></whoweare>
<div class="container new black">

	<div ng-include="'components/navbar/navbar.php'"></div>

	<!-- do stuff... -->
	<div class="container">
		<h2>Fifatournament</h2>
		<h1>Créez votre tournoi</h1>
		<p>
			Configurez dès maintenant votre tournoi avec vos amis. En cliquant sur "Créer des équipes aléatoires" nous redistribuons les joueurs dans les équipes en fonction de vos options de tournoi.
		</p>
	</div>
	<div class="wrapper">
		<div class="sub-wrapper">
            <div>
                <input id="input_join"/>
            </div>
            <div class="line">
				<a class="btn" href="#/match" ng-click="join($event)"><span>Rejoindre</span><i class="fa fa-fw fa-plus"></i></a>
			</div>
		</div>

	<div ng-include="'components/footer/footer.php'"></div>

</div>
