<whoweare></whoweare>
<div class="latest-matchs black footer--main">
	<header>
		<div ng-include="'components/navbar/navbar.php'"></div>

		<div class="container">
			<h2>Fifatournament</h2>
			<h1>Matchs passés</h1>
			<p>
				<i class="fa fa-exclamation-triangle"></i> Attention, âmes sensibles s'abstenir ! Certains scores peuvent choquer...
			</p>
			
			<div class="menu">
				<ul>
					<li><a href="#/matchs">Prochains matchs</a></li>
					<li class="active"><a href="#/latest_matchs">Matchs passés</a></li>
					<li><a href="#/results">Résultats</a></li>
				</ul>
			</div>
		</div>
	</header>

	<div class="wrapper">
		<div class="latest-matchs-wrapper">

			<div ng-if="latestMatch.length > 0">
				<div class="circle"></div>
				<latestmatch ng-repeat="match in latestMatch | orderBy: '-date'"></latestmatch>
			</div>

			<div class="infos" ng-if="latestMatch.length == 0">
				<span class="title">Aucun matchs joués</span>
			</div>
		</div>
	</div>

	<div ng-include="'components/footer/footer.php'"></div>

</div>
