<loading ng-if="loading"></loading>

<div class="latest-matchs black footer--main">
	<header>
		<div ng-include="'components/navbar/navbar.php'"></div>

		<div class="container">
			<h2>Soccup</h2>
			<h1>Liste des matchs</h1>
			<p ng-if="config.public && userStatut != 'ghost'">Clé magique du tournoi : <span class="color-main">{{config.token}}</span></p>
			<p>
				Attention, âmes sensibles s'abstenir ! Certains scores peuvent choquer...
			</p>
			
			<div class="menu">
				<ul>
					<li><a href="#/matchs">Prochain(s) match(s)</a></li>
					<li class="active"><a href="#/latest_matchs">Liste des matchs</a></li>
					<li><a href="#/results">Résultats</a></li>
				</ul>
			</div>
		</div>
	</header>

	<div class="wrapper">
		<div class="latest-matchs-wrapper">
			<latestmatch ng-repeat="match in league.firstLeg"></latestmatch>
			<latestmatch ng-repeat="match in league.returnLeg"></latestmatch>
		</div>
	</div>

	<div ng-include="'components/footer/footer.php'"></div>

</div>
