<whoweare></whoweare>
<div class="container main footer-bottom">

	<div ng-include="'components/navbar/navbar.php'"></div>

	<div class="landing">
        <div class="landing__left">
            <h2>Soccup</h2>
            <h1>Une soirée FIFA doit être organisée comme il se doit.</h1>
            <p>
                Fini les petits papiers pour tirer au sort les équipes, plus de galère pour compter les points maintenant. Vous avez Soccup. 
            </p>
            <div class="btn-group">
                <div>
                    <a href="#/config" class="btn"><span>Créer un tournoi</span><i class="fa fa-fw fa-arrow-right"></i></a>
                </div>
                <div ng-if="exist">
                    <a href="#/matchs" class="btn btn--secondBackground"><span>Reprendre le tournoi</span><i class="fa fa-fw fa-history"></i></a>
                </div>
            </div>
        </div>
        <div class="landing__right">
            
        </div>
	</div>

	<div ng-include="'components/footer/footer.php'"></div>

</div>
