<whoweare></whoweare>
<div class="container main white footer-bottom">

	<div ng-include="'components/navbar/navbar.php'"></div>

	<div class="landing">
		<h2>Fifatournament</h2>
		<h1>Une soirée FIFA doit d'être organisée comme il se doit.</h1>
		<p>
			Fini les petits papiers pour tirer au sort les équipes, plus de galère pour compter les points maintenant vous avez fifatournament. 
        </p>
        <div class="btn-group inline_block">
            <div>
                <a href="#/new" class="btn"><span>Créer un tournoi</span><i class="fa fa-fw fa-long-arrow-right"></i></a>
            </div>
            <div ng-if="exist">
                <a href="#/matchs" class="btn"><span>Reprendre le tournoi</span><i class="fa fa-fw fa-history"></i></a>
            </div>
        </div>
	</div>

	<div ng-include="'components/footer/footer.php'"></div>

</div>
