<whoweare></whoweare>

<popup ng-if="popup"></popup>

<div class="matchs black footer--main">
	<header>
		<div ng-include="'components/navbar/navbar.php'"></div>

		<div class="container">
			<h2>Soccup</h2>
			<h1>Prochains matchs</h1>
			<p>Êtes-vous prêt pour le match de votre vie ? C'est le moment de montrer qui vous êtes vraiment.</p>
			<p ng-if="config.public">Le code pour rejoindre le tournoi : <font>{{config.token}}</font></p>
			
			<div class="menu">
				<ul>
					<li class="active"><a href="#/matchs">Prochain(s) match(s)</a></li>
					<li><a href="#/latest_matchs">Liste des matchs</a></li>
					<li><a href="#/results">Résultats</a></li>
				</ul>
			</div>
		</div>
	</header>

	<div class="wrapper">

		<div class="title" id="title">
			<div class="left" id="arrow-left" ng-click="translateL()">
				<i class="fa fa-fw fa-long-arrow-left"></i>
			</div>
			<div class="center">
				<span class="next_match">Prochain(s) match(s)</span>
				<span class="live">Match en direct <i class="fa fa-fw fa-circle"></i></span>
			</div>
			<div class="right" id="arrow-right" ng-click="translateR()">
				<i class="fa fa-fw fa-long-arrow-right"></i>
			</div>
		</div>

		<div class="matchs-wrapper" id="matchs-wrapper">
			<matchs ng-repeat="match in league.firstLeg"></matchs>
			<div class="bar" ng-if="matchsType != 'returnLeg'"></div>
			<matchs ng-repeat="match in league.returnLeg"></matchs>
		</div>

		<div class="btn-wrapper" id="btn-wrapper">
			<a href="" class="btn" ng-if="stateT == 0" id="start-btn" ng-click="startMatch()"><span>Début du match</span><i class="fa fa-fw fa-futbol-o"></i></a>
			<a href="" class="btn disable" ng-if="stateT > 0" id="start-btn"><span>Début du match</span><i class="fa fa-fw fa-futbol-o"></i></a>
			<a href="" class="btn" id="stop-btn" ng-click="stopMatch()"><span>Fin du match</span><i class="fa fa-fw fa-futbol-o"></i></a>

			<span ng-if="nbMatchs>1">Encore <font>{{nbMatchs}}</font> matchs à disputer</span>
			<span ng-if="nbMatchs==1">Encore <font>{{nbMatchs}}</font> match à disputer</span>
		</div>
	</div>

	<div ng-include="'components/footer/footer.php'"></div>

</div>
