<whoweare></whoweare>
<div class="container new footer-main-color">

    <div ng-include="'components/navbar/navbar.php'"></div>

    <!-- do stuff... -->
    <div class="container">
        <h2>Soccup</h2>
        <h1>Créez votre tournoi</h1>
        <p>
            Configurez dès maintenant votre tournoi avec vos amis. En cliquant sur "Créer des équipes aléatoires" nous redistribuons les joueurs dans les équipes en fonction de vos options de tournoi.
        </p>
    </div>
    <div class="wrapper">
        <div class="sub-wrapper">
            <div class="u-inlineBlock">
                <div>
                    Nombre de joueurs
                </div>
                <div class="u-countButton">
            <span ng-click="decrementPlayer()">-</span>
                    <span>{{countPlayer}}</span>            
                    <span ng-click="incrementPlayer()" ng-init="countPlayer=2">+</span>
                </div>
            </div>
            <div class="u-inlineBlock">
                <div>
                    Nombre de joueurs par équipe
                </div>
                <div class="u-countButton">
                    <span ng-click="decrementPlayerByTeam()">-</span>
                    <span>{{countPlayerByTeam}}</span>          
                    <span ng-click="incrementPlayerByTeam()" ng-init="countPlayerByTeam=1">+</span>
                </div>
            </div>
            <!--  <div class="line">
                <input type="checkbox" id="input_public" ng-click="public = true" >
                <label for="input_public"> Public <i class="fa fa-fw fa-unlock-alt"></i></label>
            </div> -->
            <div class="u-inlineBlock">
                <div>
                    <label for="inputAlea">Équipes aléatoires</label>
                </div>
                <div>
                    <div class="switch-wrapper">
                        <input type="checkbox" name="toggle" id="inputAlea">
                        <label for="inputAlea"></label>
                    </div>
                </div>
            </div>
            
            <div class="line players_input" ng-show="checked">
          <input class="playerName" ng-repeat="player in players" type="text" placeholder="Joueur {{player}}">
            </div>
        </div>
        <div class="line">
            <a class="btn" href="#/ready" ng-click="verifForm($event)"><span>Créer mon tournoi</span><i class="fa fa-fw fa-arrow-right"></i></a>
        </div>
    </div>

    <div ng-include="'components/footer/footer.php'"></div>

</div>
