<whoweare></whoweare>
<div class="container ready footer-main-color">

    <div ng-include="'components/navbar/navbar.php'"></div>

    <!-- do stuff... -->
    <div class="container">
        <h2>Soccup</h2>
        <h1>Entrez le nom des joueurs</h1>
        <p>
            Ces joueurs seront répartis aléatoirement par équipe de 5.
        </p>
    </div>
    <div class="wrapper">
        <div class="sub-wrapper">
            <p>Noms des joueurs</p>
            <div class="wrapper-playersName">
                <input type="text" class='playersName' placeholder="Joueur 1">
                <input type="text" class='playersName' placeholder="Joueur 2">
                <input type="text" class='playersName' placeholder="Joueur 3">
                <input type="text" class='playersName' placeholder="Joueur 4">
                <input type="text" class='playersName' placeholder="Joueur 5">
                <input type="text" class='playersName' placeholder="Joueur 6">
            </div>
            <!-- <card ng-repeat="team in teams"></card> -->
        </div>
        <div class="line">
            <a class="btn btn--whiteColor" href="#/ready" ng-click="create($event)"><span>Étape suivante</span><i class="fa fa-fw fa-arrow-right"></i></a>
        </div>
    </div>

    <div ng-include="'components/footer/footer.php'"></div>

</div>
