<whoweare></whoweare>
<div class="ready footer--main">
	<header>
    	<div ng-include="'components/navbar/navbar.php'"></div>

		<div class="container">
			<h2>Soccup</h2>
			<h1>Entrez le nom des joueurs</h1>
			<p>Ces joueurs seront répartis aléatoirement par équipe de {{players.length}}.</p>
            <ul class="breadcrumb">
                <li><a href="#/main">Accueil</a></li>
                <li><a href="#/config">Configuration</a></li>
                <li><a href="#/random" class="active">Joueurs</a></li>
            </ul>
		</div>
  	</header>
  	
    <div class="wrapper">
        <messages class="container" ng-show="messages"></messages>
        <div class="card container">
            <h3>Noms des joueurs</h3>
            <div class="wrapper-playersName" >
                <input type="text" class='playersName' placeholder="Nom du joueur {{$index+1}}" value="{{player}}" ng-if="players[0] != ''" ng-repeat="player in players track by $index">
                <input type="text" class='playersName' placeholder="Nom du joueur {{$index+1}}" ng-if="players[0] == ''" ng-repeat="player in players track by $index">
            </div>
        </div>
        <div class="container u-marginBottom">
            <a class="btn btn--main-reverse btn--shadow" href="#/ready" ng-click="verifForm($event)"><span>Étape suivante</span><i class="icon i-arrow"></i></a>
        </div>
    </div>

    <div ng-include="'components/footer/footer.php'"></div>

</div>
