<whoweare></whoweare>
<div class="container ready footer-main-color">

    <div ng-include="'components/navbar/navbar.php'"></div>

    <!-- do stuff... -->
    <div class="container">
        <h2>Soccup</h2>
        <h1>Random</h1>
        <p>
            Nous vous avons préparés vos équipes comme vous nous l’aviez demandé. Il ne vous reste plus qu’à choisir un nom d'équipe pour commencer le tournoi ! 
            <p>
                Si vous n'avez pas coché la case "Créer des équipes aléatoirement" vous avez encore à renseigner les noms des joueurs.
            </p>
        </p>
        <a href="/#/new" class='links'><i class="fa fa-fw fa-long-arrow-left left"></i>Modifier la configuration du tournoi</a>
    </div>
    <div class="wrapper">
        <div class="sub-wrapper--editCard">
            
            <card ng-repeat="team in teams"></card>
        </div>
        <div class="btn-group">
            <div>
                <a class="btn btn--whiteBackground" href="#/matchs" ng-click="save($event)"><span>Remélanger</span> <i class="fa fa-refresh"></i></a>
            </div>
            <div>
                <a class="btn btn--whiteBackground" href="#/matchs" ng-click="save($event)"><span>Commencer</span> <i class="fa fa-fw fa-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <div ng-include="'components/footer/footer.php'"></div>

</div>
